@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 48px;
  font-weight: bold;
}
h2 {
  font-size: 36px;
  font-weight: bold;
}
h3 {
  font-size: 30px;
  font-weight: bold;
}
h4 {
  font-size: 24px;
  font-weight: bold;
}
h5 {
  font-size: 20px;
  font-weight: bold;
}
h6 {
  font-size: 16px;
  font-weight: bold;
}
